@import '../values' 

.ColumnHeader
	position relative
	display table-row
	h1
		overflow hidden
		text-overflow ellipsis
		max-width columnMaxWidth
		display table-cell
		vertical-align middle
		position relative
		padding 0
		margin 0
		font-size 1em
	
.selected
	background black
	color white
	
.closeButton
	float right
	cursor pointer
	position absolute
	right 0