.InfoPane
	height 100%
	float left
	position absolute
	right 0
	box-sizing border-box
	transition right .3s ease-out
	background #6E6E6E
	box-shadow -2px 0px 6px rgba(0,0,0,.5)
	
.InfoPaneInner
	box-sizing border-box
	position absolute
	bottom 1em
	top 1em
	left 1em
	right 1em
	background green
	overflow auto