extends layout

mixin link(title,path,start)
	a(href=start+path+'/')=title

mixin breadcrumbs()
	- var u = url.replace(/^\/|\/$/g,'').split('/')
	- var prev = '';
	for link,i in u
		- prev+='/'+link
		+link(link,prev,'')
		if i<u.length-1
			span  > 


block head
	if component && component.component
		link(rel='stylesheet', href="/"+component.component+".css")

block content
	#breadcrumbs
		+breadcrumbs
	if readme
		#readme!=readme
	if categories
		ul#categories
			for c in categories
				li
					+link(c[0],c[1],url.replace(/\/$/,'')+'/')
	if components
		ul#components
			for c in components
				li
					if (c.component)
						+link(c.name,c.component,url.replace(/\/$/,'')+'/')
					else
						span=c.name
	#Wrapper
	if component && component.component
		script(src="/"+component.component+".js")