.ColumnItem
	width 100%
	display block
	border-bottom 1px solid black
	cursor pointer
	overflow hidden
	text-decoration none
	text-overflow ellipsis
	
.selected
	background blue
	
.focused
	background black