.GroupItem
	background #2F94FF
	display inline-block
	float left
	color #fdfdfd
	border-radius 1em
	padding .3em
	a
		border-radius 1em
		width 1em
		height 1em
		text-align center
		display inline-block
		color #fdfdfd
		text-decoration none
	&:hover
		a
			background orange
			&:hover
				background #fdfdfd
				color #2F94FF