.EmptyColumn
	width 100%
	text-align center
	padding 1em 0
.bigButton
	border .1em dotted #fcfcfc
	display inline-block
	width 1em
	color #fcfcfc
	font-weight bold
	font-size 4em
	&:before
		content:'+'

.menu
	display none
	a
		margin .3em

.show
	.menu
		display block
